<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="well well-sm">
        <form class="form-horizontal" method="post">
          <fieldset>
            <legend class="text-center header">Cinema Details </legend>
            <% if(typeof(item) !== 'undefined'){%>
              <div class="col-md-10 col-md-offset-1">
                <h4><%=item.name%></h4>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5>Province: <%=item.address.province%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5> Town: <%=item.address.town%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5 id="address-input">Address: <%=item.address.street%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5>Phone <%=item.phone%></h2>
                </div>
                  <div class="col-md-10 col-md-offset-1">
                  <h5>Services: <%=item.services%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5>Opening Hours: <%=item.openingHours%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5>Price: <%=item.price%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5>Web Page: <a href='///<%=item.url%>'><%=item.url%></a></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5>Room number: <%=item.rooms.number%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <h5>Seating: <%=item.rooms.seating%></h5>
              </div>
              <div class="col-md-10 col-md-offset-1" "btn-sm">
                <h5><a href="/review/newRevCine/<%=item._id%>"><button type="button" name="button">Comment this Cine</button></a></h5>
              </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <div class="panel panel-default">
          <div class="text-center header">Map</div>
          <div class="panel-body text-center">

            <body onload="searchAddress();">
              <div id="map-canvas" class="map">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%} else{%>
  <% if ((message) !== "undefined") { %>
    <div class="error-message">
      <%= message%>
    </div>
    <% }
}%>

      <script src="http://maps.google.com/maps/api/js?sensor=false"></script>




      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATcrZguog9myO_vE147fsy0mTVd-qi4RU"></script>
      <script type="text/javascript" src="/js/map.js"></script>
