<h2> List all reviews of username: <%=user.username%>.</h2>

<%items.forEach( e=>{%>
<div>User: <%=e._user_id.username%></div>
  <% if (typeof(e._cine_id) !== 'undefined'){%>
      <div>Review to Cine: <%=e._cine_id.name%></div>
  <%}%>
  <% if (typeof(e._theater_id) !== 'undefined'){%>
      <div>Review to Theater: <%=e._theater_id.name%></div>
  <%}%>
  <div>Comment : <%=e.comment%></div>
  <div>Rating : <%=e.rating%></div>
  <div>
    <a href="/review/edit/<%=e._id%>"><button>Edit</button></a>
    <a href="/review/delete/<%=e._id%>"><button>Delete</button></a>
  </div>
  <%});%>
