<h2> Theater detail<h2>
  <% if(typeof(item) !== 'undefined'){%>
      <div> <%=item.name%></div>
      <div>
        <p><%=item.address.province%></p>
        <p id ="town"><%=item.address.town%></p>
        <p id ="address-input"><%=item.address.street%></p>
      </div>
      <div><%=item.services%></div>
      <div><%=item.openingHours%></div>
      <div><%=item.price%></div>
      <div><%=item.phone%></div>
      <div><a href='///<%=item.url%>'><%=item.url%></a></div>
      <div><%=item.seating%></div>
      <div>
        <a href="/review/newRevTheater/<%=item._id%>">Comment this Theater</a>
      </div>
      <body onload="searchAddress();">
      <div id="map-canvas"></div>
  <%} else{%>
    <% if ((message) !== "undefined") { %>
    <div class="error-message"><%= message%></div>
    <% }
  }%>
  <!-- <div id="map-canvas"></div> -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATcrZguog9myO_vE147fsy0mTVd-qi4RU"></script>
  <script type="text/javascript" src="/js/map.js"></script>
